.box{
	width:50vh;
	height:70vh;
	margin:auto;
	margin-top:10vh;
	/*hue,saturation,light*/
	/*2*/
	border: 10px solid hsl(204, 100%, 65%);
	padding: 20px;
	/*box*/
	background: hsl(204, 100%, 47%);
	/*3*/
	outline: 10px solid hsl(204, 100%, 75%);
	/*scoate umbra de la box si o face de tip bordura*/
	box-shadow:
      0 0 0 20px hsl(204, 100%, 85%),
      0 0 0 25px hsl(204, 100%, 95%);
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}