#demo-table {
  font: 100% sans-serif;
  background-color: #cef;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}


#demo-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: .2em solid #4ca;
  margin-bottom: .5em;
}


/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding: 30px 30px 30px 30px;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr, th, td {
  font-style: bold;
  color: blue;
}


/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cee;
  padding: 0.5em 0.5em 0.5em 3em;
}

span {
    display: inline-block;
    background: #efe;
}
